//Color
$white: #ffffff;
$black: #000000;
$basic-color: rgba(44, 46, 63, 0.7);
$light-color: rgba(44, 46, 63, 0.3);
$grey: #fbf8f8;
$title-grey: #2c2e3f;
$orange: #fe7865;
$blue: #4d7999;
$dark-grey: #141517;
$hover-grey: rgba(20, 21, 23, 0.6);

// Viewports
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

//Font
$family-montserrat: "Montserrat", "Arial", sans-serif;
$bold-font-weight: 500;
$normal-font-weight: 400;
$semibold-font-weight: 600;
$base-font-size: 16px;
$base-line-height: 28px;
$title-font-size: 55px;
$title-line-height: 80px;
$title-tablet-size: 30px;
$title-tablet-height: 45px;
$title-mobile-size: 24px;
$title-mobile-height: 36px;

//Padding
$mobile-padding: 16px;
$tablet-padding: 20px;
$desktop-padding: 30px;

